<!-- Enregistrement-stage -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Enregistrement d'un stage</h3>
  </div>
  <div class="panel-body">
    <form id="form_enreg_stage" class="" action="#" method="post">
      <div class="col-sm-5 col-xs-12">
        <div class="col-sm-12 col-xs-12">

          <label class="label label-primary">Entreprise</label>
          <br>
          <div class="form-group label-floating" id="nomEntrepriseLabel">
            <label class="control-label">Nom</label>
            <input type="text" class="form-control" id="nomEntrepriseInput" onclick="displaySelect('nomEntreprise');">
            <input style="display: none" class="form-control" type="text" id="nomEntrepriseInput1">
            <select name="entreprise" id="nomEntrepriseSelect" style="display: none" class="form-control" required="required" (change)="navSelected($event,'nomEntreprise')">
                  <option></option>
                  <option *ngFor="let entreprise of entreprises">{{entreprise.nom}}</option>
                  <option value="Ajouter">Ajouter</option>
                </select>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating" id="siteLabel">
            <label class="control-label">Site</label>
            <input type="text" class="form-control" id="siteInput" onclick="displaySelect('site');">
            <input style="display: none" class="form-control" type="text" id="siteInput1">
            <select name="site" id="siteSelect" style="display:none" class="form-control" required="required" (change)="navSelected($event,'site')">
                <option></option>
                <option *ngFor="let site of entreprise.sites">{{site.nom}}</option>
                <option>Ajouter</option>
              </select>
          </div>
        </div>
        <div class="col-xs-12">
          <label class="label label-primary">Tuteur</label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Prénom</label>
            <input type="text" class="form-control" name="prenom_tuteur" id="prenom_tuteur" required="required">
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Nom</label>
            <input type="text" class="form-control" name="nom_tuteur" id="nom_tuteur" required="required">
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Poste</label>
            <input type="text" class="form-control" name="poste_tuteur" id="poste_tuteur">
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Adresse mail</label>
            <input type="email" class="form-control" name="email_tuteur" id="email_tuteur">
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Tel</label>
            <input type="text" class="form-control" name="tel_tuteur" id="tel_tuteur">
          </div>
        </div>
        <div class="col-xs-12">
          <button type="button" onclick="showContactForm()" class="btn btn-default btn-sm" id="btn_contact">Autre contact</button>
        </div>
        <div style="display:none" id="div_contact">
          <div class="col-xs-12">
            <label class="label label-primary">Autre contact</label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Prénom</label>
              <input type="text" class="form-control" name="prenom_contact" id="prenom_contact" required="required">
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Nom</label>
              <input type="text" class="form-control" name="nom_contact" id="nom_contact" required="required">
            </div>
          </div>
          <div class="col-sm-12 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Poste</label>
              <input type="text" class="form-control" name="poste_contact" id="poste_contact">
            </div>
          </div>
          <div class="col-sm-12 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Adresse mail</label>
              <input type="email" class="form-control" name="email_contact" id="email_contact">
            </div>
          </div>
          <div class="col-sm-12 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Tel</label>
              <input type="text" class="form-control" name="tel_contact" id="tel_contact">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="col-xs-12">
          <label class="label label-primary">Stage</label>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Type de stage</label>
            <div class="radio">
              <label>
                  <input type="radio" name="type_stage">
                  ST20
                </label>
            </div>
            <div class="radio">
              <label>
                  <input type="radio" name="type_stage">
                  ST40
                </label>
            </div>
            <div class="radio">
              <label>
                  <input type="radio" name="type_stage">
                  ST50
                </label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Semestre</label>
            <select class="form-control" required="required">
                <option></option>
                <option>A15</option>
                <option>P15</option>
                <option>A16</option>
                <option>P16</option>
                <option>A17</option>
                <option>P17</option>
              </select>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Sujet de stage</label>
            <textarea class="form-control" rows="2" id="sujet" name="sujet"></textarea>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Rémunération</label>
            <div class="input-group">
              <input type="number" name="remuneration_stage" id="remuneration_stage" class="form-control" min="0" max="10000" value="0" required="required">
              <span class="input-group-addon">€</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Ticket Resto</label>
            <div class="input-group">
              <input type="number" name="ticket_resto" id="ticket_resto" class="form-control" min="0" max="100" value="0" required="required">
              <span class="input-group-addon">€</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Transport</label>
            <div class="input-group">
              <input type="number" name="transport" id="transport" class="form-control" min="0" max="100" value="0" required="required">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="form-group label-floating">
            <label class="control-label">Autres avantages</label>
            <div class="input-group">
              <input type="text" name="autre_avantage" id="autre_avantage" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Commentaires et recommandations</label>
            <textarea class="form-control" rows="2" id="commentaires" name="commentaires"></textarea>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Rapport de stage</label>
            <input type="file" name="rapport_stage" id="rapport_stage" class="file"><button class="btn btn-default btn-sm btn-round btn-block"> Rapport de stage<i class="material-icons md-18">attach_file</i></button>
            <br>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group label-floating">
            <label class="control-label">Soutenance de stage</label>
            <input type="file" name="soutenance_stage" id="soutenance_stage" class="file"><button class="btn btn-default btn-sm btn-round btn-block"> Soutenance de stage<i class="material-icons md-18">attach_file</i></button>
            <br>
          </div>
        </div>
        <div id="emploi">
          <div class="col-xs-12">
            <label class="label label-primary">Emploi</label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="form-group label-floating">
              <label class="control-label">Proposition d'emploi</label>
              <div class="radio">
                <label>
                  <input type="radio" name="proposition_emploi" onclick="showEmploiDiv()">
                  Oui
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="proposition_emploi" onclick="hideEmploiDiv()">
                  Non
                </label>
              </div>
            </div>
          </div>
          <div style="display: none;" id="emploi_content" class="col-sm-9 col-xs-12">
            <div class="col-sm-4 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Type d'emploi</label>
                <div class="radio">
                  <label>
                     <input type="radio" name="type_emploi">
                     CDD
                   </label>
                </div>
                <div class="radio">
                  <label>
                     <input type="radio" name="type_emploi">
                     CDI
                   </label>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Rémunération</label>
                <div class="input-group">
                  <input type="number" name="remuneration_emploi" id="remuneration_emploi" class="form-control" min="0" max="10000" value="0" required="required">
                  <span class="input-group-addon">€</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Avantages</label>
                <textarea class="form-control" rows="2" id="avantages_emploi" name="avantages_emploi"></textarea>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Emploi accepté</label>
                <div class="radio">
                  <label>
                     <input type="radio" name="acceptation_emploi">
                     Oui
                   </label>
                </div>
                <div class="radio">
                  <label>
                     <input type="radio" name="acceptation_emploi">
                     Non
                   </label>
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Raisons</label>
                <textarea class="form-control" rows="2" id="raisons_decision_emploi" name="raisons_decision_emploi"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div id="avis">
          <div class="col-sm-12 col-xs-12">
            <label class="label label-primary">Expérience de stage</label>
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 text-primary">
              <h6>Dirigeants</h6>
            </div>
            <div class="col-sm-6 col-xs-12">
              <small>Input Dirigeants</small>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 text-primary">
              <h6>Structure et organisation</h6>
            </div>
            <div class="col-sm-6 col-xs-12">
              <small>Input Structure et organisation</small>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 text-primary">
              <h6>Intégration</h6>
            </div>
            <div class="col-sm-6 col-xs-12">
              <small>Input Intégration</small>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 text-primary">
              <h6>Rémunération et avantages</h6>
            </div>
            <div class="col-sm-6 col-xs-12">
              <small>Input Rémunération et avantages</small>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12 text-primary">
              <h6>Opportunités de carrière</h6>
            </div>
            <div class="col-sm-6 col-xs-12">
              <small>Opportunités de carrière</small>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-6 text-left">
          <button class="btn btn-danger" type="reset">Annuler</button>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
          <button class="btn btn-primary" type="submit">Valider</button>
        </div>
      </div>
      <!-- Notifications -->
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12">
          <!-- TODO: ng-show-success -->
          <div class="alert alert-primary">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">check</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Success Alert:</b> Mise à jour éffectuée
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <!-- TODO: ng-show-error -->
          <div class="alert alert-danger">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Error Alert:</b> Erreur
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
  </div>

</div>
<!-- Enregistrement-stage -->
