<!-- Entreprises-statistiques -->
<div class="col-sm-5 col-xs-12">
  <!-- Entreprise -->
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Entreprise</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6 col-xs-12 text-center">
          <div class="col-xs-12">
            <img width="110" height="110" src="assets/img/logo-entreprise.png" alt="Circle Image" class="img-circle img-responsive center_it">
          </div>
          <div class="col-xs-12 text-primary">
            <h3>{{entreprise.nom}}</h3>
            <div *ngFor="let site of entreprise.sites">
              {{site.site_id}}
            </div>
            <label class="label label-info">{{entreprise.type}}</label>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <table class="table table-responsive table-hover table-borderless">
            <tbody>
              <tr>
                <td class="text-right" data-toggle="tooltip" data-placement="top" title="Domaine d'activité" data-container="body"><i class="material-icons">fingerprint</i></td>
                <td>{{entreprise.domaine}}</td>
              </tr>
              <tr>
                <td class="text-right" data-toggle="tooltip" data-placement="top" title="Site web" data-container="body"><i class="material-icons">home</i></td>
                <td><a href="#">{{entreprise.site_web}}</a></td>
              </tr>
              <tr>
                <td class="text-right" data-toggle="tooltip" data-placement="top" title="Nombre d'employés" data-container="body"><i class="material-icons">supervisor_account</i></td>
                <td><b>{{entreprise.nb_employes}} </b>Employés</td>
              </tr>
              <tr>
                <td class="text-right" data-toggle="tooltip" data-placement="top" title="Chiffre d'affaire" data-container="body"><i class="material-icons">euro_symbol</i></td>
                <td><b>{{entreprise.chiffre_d_affaires}} </b>€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <!-- Entreprise-end -->
  <!-- Sites -->
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sites</h3>
      </div>
      <div class="panel-body panel-fixed">
        <!-- Sites -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="text-muted">Pays </span><span class="text-primary">Ville </span><span>Nom </span>
              <span class="pull-right"><a href="#">Contacts</a></span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse" data-container="body"><i class="material-icons">place</i></td>
                  <td>Adresse</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">call</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="text-muted">Pays </span><span class="text-primary">Ville </span><span>Nom </span>
              <span class="pull-right"><a href="#">Contacts</a></span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse" data-container="body"><i class="material-icons">place</i></td>
                  <td>Adresse</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">call</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="text-muted">Pays </span><span class="text-primary">Ville </span><span>Nom </span>
              <span class="pull-right"><a href="#">Contacts</a></span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse" data-container="body"><i class="material-icons">place</i></td>
                  <td>Adresse</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">call</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Sites-end -->
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <!-- Sites-end -->
  <!-- Contacts -->
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contacts</h3>
      </div>
      <div class="panel-body panel-fixed">
        <!-- Contacts -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span>Prénom Nom</span>
              <span class="text-primary pull-right">Poste</span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse mail" data-container="body"><i class="material-icons">contact_mail</i></td>
                  <td>Adresse mail</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">contact_phone</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span>Prénom Nom</span>
              <span class="text-primary pull-right">Poste</span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse mail" data-container="body"><i class="material-icons">contact_mail</i></td>
                  <td>Adresse mail</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">contact_phone</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span>Prénom Nom</span>
              <span class="text-primary pull-right">Poste</span>
            </h3>
          </div>
          <div class="panel-body text-primary">
            <table class="table table-responsive table-hover table-borderless">
              <tbody>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Adresse mail" data-container="body"><i class="material-icons">contact_mail</i></td>
                  <td>Adresse mail</td>
                </tr>
                <tr>
                  <td class="text-right" data-toggle="tooltip" data-placement="top" title="Numéro de téléphone" data-container="body"><i class="material-icons">contact_phone</i></td>
                  <td>###########</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Contact-end -->
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <!-- Contacts-end -->
</div>
<div class="col-sm-7 col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        Statistiques
      </div>
    </div>
    <div class="panel-body">
      <div class="card card-nav-tabs">
        <div class="header header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active">

                  <a href="#tabStages" data-toggle="tab">
                    <i class="material-icons">work</i> Stages
                  </a>
                </li>
                <li>
                  <a href="#tabEntretiens" data-toggle="tab">
                    <i class="material-icons">group</i> Entretiens
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="tab-content  text-center">

            <div class="tab-pane active" id="tabStages">
              <div class="col-md-6" style="text-align: center;">
                <!-- Radar -->
                <div class="radarChart"></div>
                <script>
                  /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

                  //////////////////////////////////////////////////////////////
                  //////////////////////// Set-Up //////////////////////////////
                  //////////////////////////////////////////////////////////////

                  var margin = {
                      top: 60,
                      right: 60,
                      bottom: 60,
                      left: 60
                    },
                    width = Math.min(270, window.innerWidth - 10) - margin.left - margin.right,
                    height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

                  //////////////////////////////////////////////////////////////
                  ////////////////////////// Data //////////////////////////////
                  //////////////////////////////////////////////////////////////

                  var data = [
                    [ //Entreprise
                      {
                        axis: "Salaire",
                        value: 3.2
                      },
                      {
                        axis: "Dirigeants",
                        value: 3.8
                      },
                      {
                        axis: "Structure et organisation",
                        value: 4.4
                      },
                      {
                        axis: "Intégration",
                        value: 2.6
                      },
                      {
                        axis: "Opportunités d'évolution",
                        value: 2.0
                      }
                    ]
                  ];
                  //////////////////////////////////////////////////////////////
                  //////////////////// Draw the Chart //////////////////////////
                  //////////////////////////////////////////////////////////////

                  var color = d3.scale.ordinal()
                    .range(["#9c27b0"]);

                  var radarChartOptions = {
                    w: width,
                    h: height,
                    margin: margin,
                    maxValue: 5,
                    levels: 5,
                    roundStrokes: true,
                    color: color
                  };
                  //Call function to draw the Radar chart
                  RadarChart(".radarChart", data, radarChartOptions);
                </script>
                <!-- Radar-end -->
                <!-- Bars -->
                <div class="">

                </div>
                <!-- Bars-end -->
              </div>

              <div class="col-md-6 col-xs-12" style="text-align: center; padding-top: 50px;">
                <input id="input-3" name="input-3" class="rating rating-loading" value="3.5" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">

                <ul class="nav nav-pills" role="tablist" style="padding-top: 20px;">
                  <li>
                    <a href="#st20" role="tab" data-toggle="tab">ST20</a>
                  </li>
                  <li class="active">
                    <a href="#st40" role="tab" data-toggle="tab">ST40</a>
                  </li>
                  <li>
                    <a href="#st50" role="tab" data-toggle="tab">ST50</a>
                  </li>
                </ul>
                <ul class="nav nav-pills-mobile" role="tablist" style="padding-top: 20px;">
                  <li>
                    <a href="#st20" role="tab" data-toggle="tab">ST20</a>
                  </li>
                  <li class="active">
                    <a href="#st40" role="tab" data-toggle="tab">ST40</a>
                  </li>
                  <li>
                    <a href="#st50" role="tab" data-toggle="tab">ST50</a>
                  </li>
                </ul>

                <div style="text-align: center; padding-top: 10px;">

                  <div class="tab-content panel panel-default">
                    <div id="st20_stage" class="tab-pane fade in panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="st40_stage" class="tab-pane fade in active panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success  col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="st50_stage" class="tab-pane fade in panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success  col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalStage">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tabEntretiens">
              <div class="col-md-6 col-xs-12" style="text-align: center; padding-top: 40px;">
                <div>
                  <canvas id="canvasDoughnut"></canvas>
                </div>
                <div style="padding-top: 40px;">
                  <canvas id="lineChart" width="50" height="50"></canvas>
                </div>
              </div>

              <div class="col-md-6" style="text-align: center; padding-top: 50px;">
                <input id="input-4" name="input-4" class="rating rating-loading" value="1" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">

                <ul class="nav nav-pills" role="tablist" style="padding-top: 20px;">
                  <li>
                    <a href="#st20" role="tab" data-toggle="tab">ST20</a>
                  </li>
                  <li class="active">
                    <a href="#st40" role="tab" data-toggle="tab">ST40</a>
                  </li>
                  <li>
                    <a href="#st50" role="tab" data-toggle="tab">ST50</a>
                  </li>
                </ul>
                <ul class="nav nav-pills-mobile" role="tablist" style="padding-top: 20px;">
                  <li>
                    <a href="#st20" role="tab" data-toggle="tab">ST20</a>
                  </li>
                  <li class="active">
                    <a href="#st40" role="tab" data-toggle="tab">ST40</a>
                  </li>
                  <li>
                    <a href="#st50" role="tab" data-toggle="tab">ST50</a>
                  </li>
                </ul>

                <div style="text-align: center; padding-top: 10px;">
                  <div class="tab-content panel panel-default">
                    <div id="st20" class="tab-pane fade in panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success  col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="st40" class="tab-pane fade in active panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success  col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="st50" class="tab-pane fade in panel-fixed-2">
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-success  col-md-2">4.5</div>
                              <i class="material-icons">account_circle</i> D. John</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel panel-default">
                        <ul class="nav">
                          <li class="active">
                            <a href="#">
                              <div class="label label-danger  col-md-2">2</div>
                              <i class="material-icons">account_circle</i> D. Jean</a>
                          </li>
                          <li>
                            <a data-toggle="modal" data-target="#ModalEntretien">
                        Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Sart Modal -->
  <div class="modal fade" id="ModalStage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Informations complémentaires sur le stage</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12" id="modal_top_part">
            <div class="col-sm-5 text-center">
              <div class="col-xs-12">
                <img width="110" height="110" src="assets/img/profil.png" alt="Circle Image" class="img-circle img-responsive center_it">
              </div>
              <div class="col-xs-12 text-primary">
                <h5>Prénom Nom</h5>
                <label class="label label-info">Département</label>
                <label class="label label-success">Filière</label>
              </div>
              <table class="table table-responsive table-hover table-borderless">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Appréciations du stage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-right">
                      <span class="text-primary">Note Générale</span>
                    </td>
                    <td class="text-left">
                      <div class="label label-primary">3</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Dirigeants
                    </td>
                    <td class="text-left">
                      <div class="badge">4.5</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Structure et organisation
                    </td>
                    <td class="text-left">
                      <div class="badge">4</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Integration
                    </td>
                    <td class="text-left">
                      <div class="badge">3.5</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Rémunération
                    </td>
                    <td class="text-left">
                      <div class="badge">1</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Opportunités
                    </td>
                    <td class="text-left">
                      <div class="badge">0</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7">
              <table class="table table-responsive table-hover table-borderless">
                <tr>
                  <td class="text-center text-primary" colspan="2">
                    Stage ST40
                  </td>
                </tr>
                <tr>
                  <td class="text-right">
                    Sujet
                  </td>
                  <td>Lorem exercitation id aliqua labore. Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</td>
                </tr>
                <tr>
                  <td class="text-right">
                    Sem.
                  </td>
                  <td>P17</td>
                </tr>
                <tr>
                  <td class="text-right">
                    Tuteur
                  </td>
                  <td>Jean Doe</td>
                </tr>
                <tr>
                  <td class="text-right">
                    Salaire
                  </td>
                  <td>700 €</td>
                </tr>
                <tr>
                  <td class="text-center text-primary" colspan="2">
                    Commentaires & recommandations
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Lorem exercitation id aliqua labore. Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat.</td>
                </tr>
                <tr>
                  <td class="text-center text-primary" colspan="2">
                    Documents
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a href="#">
                    Rapport de stage
                    <i class="material-icons">insert_drive_file</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a href="#">
                    Soutenance de stage
                    <i class="material-icons">insert_drive_file</i>
                    </a>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->

  <!-- Sart ModalEntretien -->
  <div class="modal fade" id="ModalEntretien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
          <h4 class="modal-title">Informations complémentaires sur l'entretien</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12" id="modal_top_part">
            <div class="col-sm-5 text-center">
              <div class="col-xs-12">
                <img width="110" height="110" src="assets/img/profil.png" alt="Circle Image" class="img-circle img-responsive center_it">
              </div>
              <div class="col-xs-12 text-primary">
                <h5>Prénom Nom</h5>
                <label class="label label-info">Département</label>
                <label class="label label-success">Filière</label>
              </div>
              <table class="table table-responsive table-hover table-borderless">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Appréciations de l'entretien</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-right">
                      <span class="text-primary">Note Générale</span>
                    </td>
                    <td class="text-left">
                      <div class="label label-primary">3</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Difficulté
                    </td>
                    <td class="text-left">
                      <div class="badge">4.5</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      Expérience personnelle
                    </td>
                    <td class="text-left">
                      <div class="badge">4</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7">
              <table class="table table-responsive table-hover table-borderless">
                <tr>
                  <td class="text-center text-primary" colspan="2">
                    Déroulement de l'entretien
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Lorem exercitation id aliqua labore. Consectetur dolor nostrud minim do velit pariatur dolor mollit irure quis tempor aute est Lorem nisi occaecat. Lorem exercitation id aliqua labore. Consectetur dolor nostrud minim do velit pariatur
                    dolor mollit irure quis tempor aute est Lorem nisi occaecat</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-center text-primary">Résultats</td>
                </tr>
                <tr>
                  <td>
                    Proposition de stage
                  </td>
                  <td class="text-left text-success">
                    <i class="material-icons">done</i>
                  </td>
                </tr>
                <tr>
                  <td>
                    Proposition acceptée
                  </td>
                  <td class="text-left text-danger">
                    <i class="material-icons">clear</i>
                  </td>
                </tr>
                <tr>
                  <td class="text-center text-primary" colspan="2">
                    Documents
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a href="#">
                    Curriculum Vitae
                    <i class="material-icons">insert_drive_file</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a href="#">
                    Lettre de motivation
                    <i class="material-icons">insert_drive_file</i>
                    </a>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
</div>
<!-- Entreprises-statistiques-end -->
