<div class="col-sm-6 col-xs-12">
  <!-- Profile & Timeline  -->
  <!-- profile -->
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profil</h3>
      </div>
      <div class="panel-body text-center">
        <div class="col-xs-12">
          <img width="110" height="110" src="assets/img/profil.png" alt="Circle Image" class="img-circle img-responsive center_it">
        </div>
        <div class="col-xs-12 text-primary">
          <h3>{{user.nom}} {{user.prenom}}</h3>
          <label class="label label-info">{{user.branche}}</label>
          <label class="label label-success">{{user.filiere}}</label>
        </div>
        <div class="col-xs-12 text-center">
          <button class="btn btn-upgrade btn-simple btn-sm" type="button" name="updateProfile">Mettre à jour le profile</button>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <!-- Profile-end -->
  <!-- Timeline -->
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Timeline</h3>
      </div>
      <div class="panel-body">
        <table class="table table-responsive table-hover table-borderless">
          <tbody>
            <tr>
              <td class="text-right"><i class="material-icons">done_all</i></td>
              <td>Emploi</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done_all</i></td>
              <td>Stage ST50</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done</i></td>
              <td>Entretien 4</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done</i></td>
              <td>Entretien 3</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done_all</i></td>
              <td>Stage ST40</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done</i></td>
              <td>Entretien 2</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done_all</i></td>
              <td>Stage ST20</td>
            </tr>
            <tr>
              <td class="text-right"><i class="material-icons">done</i></td>
              <td>Entretien 1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <!-- Timeline-end -->
</div>
<!-- Profile & Timeline  -->

<!-- Menu -->
<div class="col-sm-6 col-xs-12">
  <a href="#">
    <div class="col-sm-6 col-xs-6 text-center">
      <img class="img img-responsive center_it" width="200" height="200" src="assets/img/trouver_stage.png" alt="Trouver un stage">
      <div class="text-primary">
        <h6>Trouver un stage</h6>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="col-sm-6 col-xs-6 text-center">
      <img class="img img-responsive center_it" width="200" height="200" src="assets/img/enreg_stage.png" alt="Enregistrer un stage">
      <div class="text-primary">
        <h6>Enregistrer un stage</h6>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="col-sm-6 col-xs-6 text-center">
      <img class="img img-responsive center_it" width="200" height="200" src="assets/img/statistiques.png" alt="Statistiques">
      <div class="text-primary">
        <h6>Statistiques des entreprises</h6>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="col-sm-6 col-xs-6 text-center">
      <img class="img img-responsive center_it" width="200" height="200" src="assets/img/enreg_entretien.png" alt="Enregistrer un entretien">
      <div class="text-primary">
        <h6>Enregistrer un entretien</h6>
      </div>
    </div>
  </a>

</div>
<!-- Menu-end -->
