<!-- Update-user -->
<div>
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Mise à jour du profil</h3>
      </div>
      <div class="panel-body">
        <form class="" action="#" method="post">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Prénom</label>
                  <input type="text" class="form-control" name="firstname" id="firstname">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Nom</label>
                  <input type="text" class="form-control" name="name" id="name">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Sexe</label>
                  <div class="col-xs-12 radio">
                    <label>
                    M
                    <input type="radio" name="sexe">
                  </label>
                  </div>
                  <div class="col-xs-12 radio">
                    <label>
                    F
                    <input type="radio" name="sexe">
                  </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Date de naissance</label>
                  <input type="text" class="datepicker form-control" />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control" name="email" id="email">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Tel</label>
                  <input type="text" class="form-control" name="tel" id="tel">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Type de formation</label>
                <select class="form-control">
                  <option>Ingénieur étudiant</option>
                  <option>Diplôme universitaire</option>
                  <option>Master</option>
                  <option>Ingénieur apprenti</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Formation</label>
                <select class="form-control">
                  <option>INFO</option>
                  <option>EDIM</option>
                  <option>MECA</option>
                  <option>IMSI</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select class="form-control">
                  <option>ILC</option>
                  <option>I2RV</option>
                  <option>RT</option>
                  <option>LEIM</option>
                </select>
              </div>
            </div>
          </div>
          <!-- buttons -->
          <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-6 text-left">
              <button class="btn btn-danger" type="button" name="button">Annuler</button>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              <button class="btn btn-primary" type="button" name="button">Valider</button>
            </div>
          </div>
          <!-- Notifications -->
          <div class="col-sm-12 col-xs-12">
            <div class="col-sm-12 col-xs-12">
              <!-- TODO: ng-show-success -->
              <div class="alert alert-primary">
                <div class="container-fluid">
                  <div class="alert-icon">
                    <i class="material-icons">check</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  <b>Success Alert:</b> Mise à jour éffectuée
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <!-- TODO: ng-show-error -->
              <div class="alert alert-danger">
                <div class="container-fluid">
                  <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  <b>Error Alert:</b> Erreur
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>
<!-- Update-user-end -->
