<!-- Update-user -->
<div>
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Mise à jour du profil</h3>
      </div>
      <div class="panel-body">
        <form class="" #form="ngForm" (ngSubmit)="editUser(user)">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Prénom</label>
                  <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" id="prenom">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Nom</label>
                  <input type="text" class="form-control" name="nom" id="nom" [(ngModel)]="user.nom">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Sexe</label>
                  <div class="col-xs-12 radio">
                    <label>
                    M
                    <input type="radio" name="sexe" [(ngModel)]="user.sexe" value="M">
                  </label>
                  </div>
                  <div class="col-xs-12 radio">
                    <label>
                    F
                    <input type="radio" name="sexe" [(ngModel)]="user.sexe" value="F">
                  </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Date de naissance</label>
                  <!-- TODO: Format Date  -->
                  <input type="date" name="date_naissance" class="form-control" [(ngModel)]="user.date_naissance"/>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email"  [value]="user.email">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group label-static">
                  <label class="control-label">Tel</label>
                  <input type="text" class="form-control" name="tel" id="tel" [(ngModel)]="user.tel" [value]="user.tel">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Branche</label>
                <select [(ngModel)]="user.branche" name="branche" class="form-control">
                  <option value="TC">TC</option>
                  <option value="INFO">INFO</option>
                  <option value="EDIM">EDIM</option>
                  <option value="ENERG">ENERG</option>
                  <option value="MECA">MECA</option>
                  <option value="IMSI">IMSI</option>
                </select>
              </div>
            </div>
            <div *ngIf="user.branche==='EDIM'" class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select [(ngModel)]="user.filiere" name="filiere" class="form-control">
                  <option value="IEC">IEC</option>
                  <option value="DIC">DIC</option>
                  <option value="EIC">EIC</option>
                </select>
              </div>
            </div>
            <div *ngIf="user.branche==='INFO'" class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select [(ngModel)]="user.filiere" name="filiere" class="form-control">
                  <option value="ILC">ILC</option>
                  <option value="I2RV">I2RV</option>
                  <option value="RT">RT</option>
                  <option value="LEIM">LEIM</option>
                </select>
              </div>
            </div>
            <div *ngIf="user.branche==='IMSI'" class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select [(ngModel)]="user.filiere" name="filiere" class="form-control">
                  <option value="ICP">ICP</option>
                  <option value="LOI">LOI</option>
                  <option value="INP">INP</option>
                  <option value="QPI">QPI</option>
                </select>
              </div>
            </div>
            <div *ngIf="user.branche==='MECA'" class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select [(ngModel)]="user.filiere" name="filiere" class="form-control">
                  <option value="MOST">MOST</option>
                  <option value="SMAPT">SMAPT</option>
                  <option value="CSM">CSM</option>
                  <option value="CDP">CDP</option>
                </select>
              </div>
            </div>
            <div *ngIf="user.branche==='ENERG'" class="col-sm-12 col-xs-12">
              <div class="form-group label-static">
                <label class="control-label">Filière</label>
                <select [(ngModel)]="user.filiere" name="filiere" class="form-control">
                  <option value="PEE">PEE</option>
                  <option value="BIEE">BIEE</option>
                  <option value="ESE">ESE</option>
                  <option value="RCEE">RCEE</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-12">
              <app-toast [message]="toast.message"></app-toast>
            </div>
          </div>
          <!-- buttons -->
          <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-6 text-left">
              <button class="btn btn-danger" (click)="cancelEditing()">Annuler</button>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Valider</button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>
<!-- Update-user-end -->
