
<!-- <div class="panel panel-primary"> -->

  <!-- <div class="panel-body"> -->
    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="panel-title">
          3/3
        </div>
      </div>
      <div class="panel-body">
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>  <a href="#" class="col-md-4 col-xs-12 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-md-5">
                  <div>
                    <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="profile-usertitle">
                    <h5>
                      Nom Entreprise
                    </h5>

                    <label class="label label-info">
                      Type Entreprise
                      </label>
                  </div>
                  <div class="profile-usermenu" style="padding-top: 10px;">
                    <ul class="nav">
                      <li>
                          <i class="fa fa-user"></i> Domaine
                      </li>
                      <li>
                          <i class="fa fa-eur"></i> Ville
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          2/3
        </div>
      </div>
      <div class="panel-body">
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">
          1/3
        </div>
      </div>
      <div class="panel-body">
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
        <a href="#" class="col-md-4 col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-5">
                <div>
                  <img src="assets/img/profil.png" class="img-circle img-responsive center_it"  height="110" width="110" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="profile-usertitle">
                  <h5>
                    Nom Entreprise
                  </h5>

                  <label class="label label-info">
                    Type Entreprise
                    </label>
                </div>
                <div class="profile-usermenu" style="padding-top: 10px;">
                  <ul class="nav">
                    <li>
                        <i class="fa fa-user"></i> Domaine
                    </li>
                    <li>
                        <i class="fa fa-eur"></i> Ville
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </a>
      </div>
    </div>
  <!-- </div> -->

<!-- </div> -->
