<div class="col-xs-12 title">
  <h2>Critères de recherche de stage</h2>
</div>
<div class="col-xs-12 search-form">

  <form class="form-inline" method="post">
    <div class="col-sm-3 col-xs-12">
      <div class="form-group label-floating">
        <label class="control-label">Domaine d'activité</label>
        <input type="text" class="form-control">
      </div>

    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="form-group label-floating">
        <label class="control-label">Ville, Région, Pays</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="form-group label-floating">
        <label class="control-label">Type de stage</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <button class="btn btn-lg btn-block btn-primary" type="submit" name="search">
        <i class="material-icons">search</i>Go !
      </button>
    </div>
  </form>

</div>
